[submodule "themes/learn"]
	path = themes/learn
	url = https://github.com/matcornic/hugo-theme-learn.git
	branch = master
#[submodule "themes/hugo_build"]
#	path = themes/hugo_build
#	url = https://gitlab.com/learntryimprovise/hugo-build.git
